body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Grid colors */

html, body {
    background-color: #ffeead;
    margin: 10px;
    height: 100%;
    width: 100%;
}

.container > div:nth-child(1n) {
    background-color: #96ceb4;
}

.container > div:nth-child(3n) {
    background-color: #88d8b0;
}

.container > div:nth-child(2n) {
    background-color: #ff6f69;
}

.container > div:nth-child(4n) {
    background-color: #ffcc5c;
}

/* Grid formation */

.container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100px auto 50px;
    grid-gap: 3px;
    grid-template-areas:
        "h h"
        "m c"
        "f f"
}

.header {
    grid-area: h;
}

.menu {
    grid-area: m;
}

.content {
    grid-area: c;
}

.footer {
    grid-column: f;
}

/* Flexbox header*/

.flex-box-header {
    display: flex;
    border: 1px solid #ff006e;
    flex-direction: row;
    height: 100%;
}

.flex-box-header > div {
    padding: 10px;
    text-align: center;
    font-size: 2em;
    color: #ffeead;
    flex-basis: 150px;
}

.flex-box-header > div:nth-child(1n) {
    background-color: gold;
}

.flex-box-header > div:nth-child(2n) {
    background-color: coral;
}

/* Flexbox header menu */

.home {
    cursor: pointer;
}

.home:hover, .filter:hover {
    color: aliceblue;
}

.filter {
    cursor: pointer; 
}

/* Flexbox menu */

.flex-box-menu {
    display: flex;
    border: 1px solid #ff006e;
    flex-direction: column;
}

.flex-box-menu > div {
    padding: 10px;
    text-align: center;
    font-size: 2em;
    color: #ffeead;
}

.flex-box-menu > div:nth-child(1n) {
    background-color: coral
}

/* Content grid */

.content {
    display: flex;
    /*height: 100%;*/
    flex-direction: column;
    
}

/* Filter */

.book-filter {
    display: grid;
    margin: 2px;
}

/* Centent */

.flex-box-book {
    display: flex;
    margin: 2px;
    /*flex-grow: 1;*/
    
}

.flex-box-book > div {
    font-size: 20px;
    padding-left: 5px;
    height: 65px;
}

.flex-box-book > div:nth-child(1n) {
    background-color: cornflowerblue
}

.flex-box-book > div:nth-child(2n) {
    background-color: coral;
}

.flex-box-book > .book-author {
    width: 14%;
}

.flex-box-book > .book-title {
    width: 22%;
}

.flex-box-book > .book-year {
    width: 8%;
}

.flex-box-book > .book-page-count {
    width: 6%;
}

.flex-box-book > .book-isbn {
    width: 12%;
}

.flex-box-book > .book-hardcover {
    width: 6%;
}

.flex-box-book > .book-language {
    width: 12%;
}

.flex-box-book > .book-update {
    width: 6%;
}

.flex-box-book > .book-delete {
    width: 8%;
}

.flex-box-book > .book.book-delete-new {
    vertical-align: middle;
}

.pagination-custom {
    align-self: flex-end;
}

/* Footer */
.footer-content {
    margin: 2px;
    margin-left: 10px;
}
/* Add Book */
.add-book {
    margin: 5px;
}

.book:hover {
    border: groove;
}


/* Overrides */
.field-validation-error {
    color: red;
}


