body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Grid colors */

/*.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
}*/

html, body {
    background-color: #ffeead;
    margin: 10px;
    height: 100%;
}

.container > div:nth-child(1n) {
    background-color: #96ceb4;
}

.container > div:nth-child(3n) {
    background-color: #88d8b0;
}

.container > div:nth-child(2n) {
    background-color: #ff6f69;
}

.container > div:nth-child(4n) {
    background-color: #ffcc5c;
}

/* Grid formation */

.container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100px auto 50px;
    grid-gap: 3px;
    grid-template-areas:
        "h h"
        "m c"
        "f f"
}

.header {
    grid-area: h;
}

.menu {
    grid-area: m;
    
}

.content {
    grid-area: c;
}

.footer {
    grid-column: f;
}

/* Flexbox header*/


.flex-box-header {
    display: flex;
    border: 1px solid #ff006e;
    flex-direction: row;
    height: 100%;
}

.flex-box-header > div {
    padding: 10px;
    text-align: center;
    font-size: 2em;
    color: #ffeead;
    flex-basis: 150px;
}

.flex-box-header > div:nth-child(1n) {
    background-color: gold;
}

.flex-box-header > div:nth-child(2n) {
    background-color: coral;
}

/* Flexbox menu */

.flex-box-menu {
    display: flex;
    border: 1px solid #ff006e;
    flex-direction: column;
}

.flex-box-menu > div {
    padding: 10px;
    text-align: center;
    font-size: 2em;
    color: #ffeead;
}

.flex-box-menu > div:nth-child(1n) {
    background-color: coral
}

/* Centent */

.flex-box-content {
    display: flex;
    flex-direction: row;
    margin: 2px;
    flex-grow: 1;
}


.flex-box-content > div {
    font-size: 20px;
    flex-basis: 50px;
    padding-left: 5px;
}

.flex-box-content > div:nth-child(1n) {
    background-color: cornflowerblue
}

.flex-box-content > div:nth-child(2n) {
    background-color: coral;
}

.flex-box-content > .book-author {
    font-size: 20px;
    flex-basis: 150px;
}

.flex-box-content > .book-title {
    flex-basis: 200px;
    background-color:aqua;
}

.flex-box-content > .book-year {
    flex-basis: 55px;
}

.flex-box-content > .book-page-count {
    flex-basis: 55px;
}

.flex-box-content > .book-isbn {
    flex-basis: 105px;
}

.flex-box-content > .book-hardcover {
    flex-basis: 50px;
}

.flex-box-content > .book-language {
    flex-basis: 50px;
}

.flex-box-content > .book-update {
    flex-basis: 100px;
}

.flex-box-content > .book-delete {
    flex-basis: 100px;
}


.flex-box-content > .book.book-delete-new {
    vertical-align: middle;
}

/* Overrides */

.field-validation-error {
    color:red;
}


