<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c7d9cf38-5d98-42a9-b0ee-bcec9de6d33a/resourcegroups/BookStore20180906082026ResourceGroup/providers/Microsoft.Web/sites/AspNetWebsiteDemo1</ResourceId>
    <ResourceGroup>BookStore20180906082026ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://aspnetwebsitedemo1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>aspnetwebsitedemo1.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AspNetWebsiteDemo1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AspNetWebsiteDemo1</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BookStoreDb" Order="1" Enabled="True">
          <Destination Path="Data Source=bookshopserver1.database.windows.net;Initial Catalog=BookStoreAzure;Persist Security Info=True;User ID=bookshopadmin;Password=aA5746923468" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="BookStore.Models.ApplicationDbContext, BookStore" MigrationConfiguration="BookStore.Migrations.Configuration, BookStore" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="BookStoreDb-Web.config Connection String">
      <ParameterValue>Data Source=bookshopserver1.database.windows.net;Initial Catalog=BookStoreAzure;Persist Security Info=True;User ID=bookshopadmin;Password=aA5746923468</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>