@model List<BookStore.Models.Book>

@{
    ViewBag.Title = "GetAllBooks";
    Layout = "~/Views/Shared/_LayoutBookShop.cshtml";
}

@foreach (var book in @Model)
{
<div class="flex-box-content">
    <div>@book.Author.Name @book.Author.LastName</div>
    <div class="book-title">@book.Title</div>
    <div>3</div>
    <div>4</div>
    <div>5</div>
    <div>6</div>
    <div>7</div>
    <div>8</div>
</div>
}

